<launch>

  <node pkg="tf" type="static_transform_publisher" name="laser_to_base"
    args="-0.1016 0 0.0889 0 0 0 base_link laser 10" />

  <node name="omnidirectional" pkg="omnidirectional_node" type="omnidirectional.py" output="screen">
    <param name="port" value="/dev/ttyACM1" />
  </node>

</launch>
